<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
</head>
<body>
  
  {{>navbar}}

     <!-----main header----->
    

     <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <!-----left side div----->
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure class="errimg">
                       <img src="images/404.png" alt="About me" class="img-fluid" title="Zord" >
                    </figure>
                      <p>Welcome to ZORDWEATHER app</p>
                      <h1>{{errorMsg}}</h1>
                      <a href="/"><button> Go Back </button></a>
                 </div>
                 <!-----Right side div----->
              </div>
          </div>
      </div>
    </div>

    <!-----footer code----->
        {{>footer}}
</body>
</html> 