<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
</head>
<body>
  
  {{>navbar}}

     <!-----main header----->
    

     <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
              <div class="row">
                <!-----left side div----->
                <div class="col-sm-6 col-12 main_header_right align-item-center">
                    <figure>
                       <img src="images/about.png" alt="About me" class="img-fluid" title="Zord" >
                    </figure>
                   </div> 
                 <div class="col-sm-6 col-12 main_header_left">
                      <p>Welcome to ZORDWEATHER app</p>
                      <h1> I Am a <span class="text_clr"> MERN Stack Developer </span> YouTuber And Freelancer</h1>
                      <a href="https://www.instagram.com/acoustic_akku/" target="_Acoustic_Akku"><button> About me </button></a>
                 </div>
                 <!-----Right side div----->
              </div>
          </div>
      </div>
    </div>

    <!-----footer code----->
        {{>footer}}
        <!-- Dark Theme code -->
        {{>darktheme}}
</body>
</html> 