<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
</head>
<body>
   
      {{>navbar}}

     <!-----main header----->
    

     <div class="container-fluid main_header">
        <div class="main_content">
              <form class="temp_form">
                <input type="text" id="cityName"  placeholder="   Enter Your City Name   " autocomplete="off">
                <input type="submit" value="Search" id="submitBtn" >
              </form>
        </div>
        <div class="tempInformation" >
            <!-----box ke andar date or day wala box----->
            <div class="top_layer">
                <p id="day" style="margin: 0; display: inline;">
                    Tuesday
                </p>
                {{!-- style="margin: 0; display: inline; margin-left: 28rem" style="margin: 0; display: inline; margin-left:-8rem"--}}
                <p id="today_date" >
                    2 oct
                </p>
                
            </div>
            <div class="main_layer  ">
                    <p id="city_name">Get Output Here</p>
                    <div class="middle_layer data_hide ">
                        <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                        <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i><h3 id="type">clear</h3></h3></p>
                    </div>
                </div>
        </div>
    </div>

       {{>footer}}

       <script src="js/main.js"></script>
       <script>
        
        const getCurrentDay = () => {
            let weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thusday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date();
            days = weekday[currentTime.getDay()];
            let day = document.getElementById('day');
            console.log(day);
            day.innerText = days;
        };

        //get and format current time
        const getCurrentTime = () => {
            var months = [
                "Jan",
                "Feb",
                "Mar",
                "Apr",
                "May",
                "Jun",
                "Jul",
                "Aug",
                "Sept",
                "Oct",
                "Nov",
                "Dec",
            ];
            var now = new Date();
            var hours = now.getHours();
            var mins = now.getMinutes();

            var month=months[now.getMonth()];
            var date = now.getDate();

            let today_date = document.getElementById('today_date');
            // let today_month = document.getElementById('today_month');
            console.log(date);
            console.log(month);
            today_date.innerText = [date,month];

        };





        getCurrentDay();
        getCurrentTime();
       </script>
       <!-- Dark Theme -->
       {{>darktheme}}
</body>
</html>